.about-container{
    padding: 10px 80px;
}

.about{
    font-weight: 700;
    font-size: 35px;
}

.line{
    width: 70px;
    height: 3px;
    background-color: #1d8d01;
    margin-bottom: 10px;
}

.about-edu{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: #1d8d01;
}

.ul-list{
    margin-left: 30px;
    list-style-type: circle;
}

.about-li{
    margin-left: 20px;
}